<nav class="d-flex justify-content-between mt-2">
    <ul class="pagination">
        @foreach (var item in _links)
        {
            <li class="page-item @(item.IsActive ? "active" : null) @(item.IsDisabled ? "disabled" : null)" @onclick="() => OnSelectedPage(item, Parameters.PageSize)"><span class="page-link" style="cursor: pointer">@item.PageText</span></li>
        }
    </ul>
    <ul class="pagination">
        <li class="page-item">
            <InputSelect Value="Parameters.PageSize" ValueExpression="@(()=>Parameters.PageSize)" ValueChanged="(int size) => OnSelectedPage(currentLink, size)" class="form-select-sm h-100">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </InputSelect>
        </li>
    </ul>
</nav>