@page
@model Web.Pages.CheckoutModel
@{
}

<div class="d-flex justify-content-center margin-top-150px">
    <div class="col-8 border rounded">
        <form method="post">
            <button type="submit" class="btn btn-success">Betal</button>
        </form>
    </div>
</div>