@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var product in Model.Products)
{
    <div class="card">
        <div class="card-body">
            <img />
            <h5>@product.Name</h5>
            <p>@product.Description</p>
            <h5>@product.Price.ToString("C2")</h5>
        </div>
    </div>
}