@page
@model Web.Pages.ProductModel
@{
}

<div class="d-flex justify-content-center">
    <div>
        <h3>@Model.Product.Name</h3>
        <img />
        <p>@Model.Product.Description</p>
        <h4>@Model.Product.Price.ToString("C2")</h4>
        <input  />
    </div>
</div>