html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.offcanvas {
    width: 300px !important;
}

.margin-top-150px{
    margin-top: 150px;
}

th, td {
    text-align: center;
}