@using DataLayer.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Product>
@{
}

<ul class="dropdown-menu dropdown-menu-end">
    @foreach (var product in Model)
    {
        <li class="d-flex justify-content-between">
            <p>@product.Name</p>
            <p>@product.Price.ToString("C2")</p>
        </li>
    }
    <li>Total: @Model.Sum(x => x.Price).ToString("C2")</li>
    <li><a class="btn btn-success" asp-page="Basket">Gå til kurv</a></li>
</ul>
